@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&family=Play&display=swap');

body {
  background-color: black;
  height: 100vh;
  margin: 0;
  color: white;
  font-family: 'Play', 'Helvetica', sans-serif;
}

.sidebar {
  height: 100vh;
  float: left;
  background-color: grey;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  padding: 20px;
  margin-left: 250px;
}

.tracks {
  display: flex;
  flex-wrap: wrap;
}

.track {
  background-color: var(--primary-color);
  height: 200px;
  width: 200px;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.selected {
  border: 3px solid yellow;
}

.empty {
  --primary-color: grey;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.cta-btn {
  margin-top: 40px;
  background-color: #be2edd;
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  padding: 12px 30px;
  font-size: 20px;
}

.cta-btn:active {
  transform: scale(0.98);
}

button:focus {
  outline: none;
}

.track-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  height: 3em;
  width: 80px;
  border-radius: 40px;
  font-size: 2em;
}

.button-label {
  font-size: 15px;
}

.instruments-container {
  margin-top: 200px;
  width: 110%;
}

.instruments-header {
  text-align: center;
  padding-bottom: 10px;
  height: 30px;
  font-size: 20px;
}

.instruments {
  display: flex;
  flex-direction: column;
}

.instrument {
  background-color: black;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  margin-top: 2px;
  padding: 2px;
}

.inst-button {
  border-radius: 15px;
  height: 30px;
  width: 30px;
  font-size: 20px;
}

.inst-color-bar {
  height: 100%;
  width: 5%;
  background-color: var(--primary-color);
}

.instrument-name {
  font-family: 'IBM Plex Serif', 'Arial', serif;
  font-size: 30px;
}

.track-name {
  font-family: 'IBM Plex Serif', 'Arial', serif;
  font-size: 15px;
}

.add {
  background-color: var(--primary-color);
  color: white;
}

#hi-hat {
  --primary-color: magenta;
}

#snare {
  --primary-color: blue;
}

#kick {
  --primary-color: goldenrod;
}

#bell {
  --primary-color: rgb(70, 164, 70);
}

#ride {
  --primary-color: salmon;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-container.show-modal {
  display: block;
}

#close {
  background-color: #fff;
  border: 0;
  font-size: 20px;
  position: absolute;
  background: transparent;
  top: 0;
  right: 0;
  cursor: pointer;
}

.modal-header {
  background-color: #be2edd;
  color: #fff;
  border-bottom: 1px solid #333;
}

.modal-header h3 {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

.modal-content h4 {
  text-align: center;
  background-color: grey;
  padding: 5px;
  color: #fff;
  border-bottom: 1px solid #333;
}

.modal-content {
  font-size: 18px;
}

ul {
  padding-inline-start: 20px;
}

li {
  list-style-type: none;
  padding: 5px;
}

.modal {
  color: black;
  background-color: #dedede;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(214, 25, 25, 0.3);
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 600px;
  animation-name: modalopen;
  animation-duration: 1s;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
